<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="../../../assets/ps-logo.png" width="140px" height="32px" />
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="#">Home</a></li>
      <li>
        <a href="https://store.playstation.com/pt-br/pages/latest">Novidades</a>
      </li>
      <li>
        <a href="https://store.playstation.com/pt-br/pages/collections"
          >Coleções</a
        >
      </li>
      <li>
        <a href="https://store.playstation.com/pt-br/pages/deals">Ofertas</a>
      </li>
      <li>
        <a
          href="https://www.playstation.com/pt-br/ps5/?smcid=store%3Apt-br%3Apages-collections%3Aprimary%20nav%3Amsg-ps5%3Aps5"
          >PS5</a
        >
      </li>
      <li>
        <a
          href="https://www.playstation.com/pt-br/ps-plus/?smcid=pdc%3Apt-br%3Aps5%3Aprimary%20nav%3Amsg-services%3Aps-plus"
          >Assinaturas</a
        >
      </li>
    </ul>
  </div>
</div>
